/* general */
body {
    font-family: 'Baloo Thambi 2', cursive;
}
.font-heading {
    font-family: 'Lora', serif;
}

nav {
    transition: padding .5s;
}

section {
    overflow-x: hidden !important;
}

.btn-info, .btn-outline-info:hover {
    border-radius: 30px;
    background-color: #0084b5;
}

.btn-outline-info {
    border-radius: 30px;
    border-color: #0084b5;
    color: #0084b5;
}

.btn-outline-secondary {
    border-color:  #ededed;
}

.btn-verify {
    background-image: linear-gradient(#fcfcfc, #f5f5f5);
    border-radius: 0;
}

.btn-outline-secondary:hover, .show > .btn-outline-secondary.dropdown-toggle {
    color: #6c757d;
    background-color: transparent;
    border-color:  #ededed;
    box-shadow: none !important;
}

.form-control {
    border: 1px solid #ededed;
}

nav.scrolled {
    background-color: white !important;
    opacity: 0.99;
}

.dropdown-menu {
    left: -25px;
    min-width: 0;
}
/* end general */

/* section 1 */
#section1 > .container {
    margin-top: 130px;
}

#section1 > div > div > div > h1 {
    line-height: 1.5;
}

#section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#section1 {
    min-height: 700px;
}
/* end section 1 */

/* section 2 */
#section2 h5, small.form-text, #section2 .form-check > label {
    color: #b4b4b4;
}

#section2 .form-check > label a, #section2 .fa-eye {
    color: #0084b5;
}

#section2 .form-control {
    font-size: 14px;
}

#section2 .group-password > input {
    border-right: none;
}

#section2 .group-password button {
    border-left: none;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

#section2 .group-phone::after {
    content: "";
    background: #ededed;
    position: absolute;
    top: 40px;
    left: 130px;
    height: 30px;
    width: 1px;
}
/* end section 2 */

/* section 3 */
#section3 {
    margin-top: 100px;
    margin-bottom: 100px;
}

#section3 .card-body {
    border-radius: 10px;
}

#section3 h5, #section3 h6 {
    color: #b0b0b0;
}

#section3 h6 {
    line-height: 1.5;
}
/* end section 3 */

/* section 4 */
#section4 {
    padding-top: 50px;
}

#section4 h5 {
    color: #adadad;
}
/* end section 4 */

/* section 5 */
#section5 .card {
    border: 3px solid #d4ecf3;
    border-radius: 25px;
    padding-top: 100px !important;
}

#section5 .img-tm {
    position: absolute;
    z-index: 1;
}

#section5 .tm-text {
    color: #4f8ea9;
}

#section5 .tm-desc {
    color: #b9b8bd;
    font-size: 12px;
}
/* end section 5 */

/* section 6 */
#section6 h2 {
    color: #0084b3;
}
/* end section 6 */

/* section 7 */
#section7 .socmed-group > .col {
    padding-left: 7px;
    padding-right: 7px;
}

.btn-socmed {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: box-shadow .10s;
    border-radius: 45%;
    padding: 0;
}

.btn-socmed:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #4fa0ff;
}

p.attention {
    color: #b3b3b3;
}

p.attention > span {
    background-color: #0283b2;
    font-size: 14px;
}
/* end section 7 */

/* start media query */
@media screen and (min-width: 320px) {
    #section1::before {
        background-color: #e4f8ff;
        min-height: 620px;
    }

    #section1 {
        min-height: 650px;
    }

    #section4 iframe {
        width: 80%;
        height: 150px;
    }

    #section5 .card {
        margin-top: 80px;
    }
    
    #section5 .img-tm {
        top: 30px;
        left: 25%;
    }
}

@media screen and (min-width: 375px) {
    #section1::before {
        min-height: 600px;
        height: 650px;
    }

    #section1 {
        min-height: 670px;
    }

    #section5 .img-tm {
        left: 30%;
    }
}

@media screen and (min-width: 414px) {
    #section4 iframe {
        width: 80%;
        height: 180px;
    }
}

@media screen and (min-width: 768px) {
    nav.scrolled {
        padding: 0 !important;
    }

    #section1::before {
        min-height: 550px;
        height: 550px;
    }

    #section1 {
        min-height: 600px;
    }

    #section3 {
        background-image: url(../images/bg-section3.png);
        background-position: 100% 100px;
        background-size: 110%;
        background-repeat: no-repeat;
    }

    #section3 > .container > .row > .col-lg-8 {
        border-left: solid 2px #d6e8f2;
    }

    #section3 .card-body {
        background-color: #fff;
        height: 335px;
    }

    #section3 > .container > .row:nth-child(2) {
        margin-top: 100px;
    }

    #section4 {
        background-image: url(../images/bg-section4.png);
        background-position: 100% 25px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #section4 iframe {
        width: 80%;
        height: 350px;
    }

    #section6 {
        background-image: url(../images/bg-section6.png);
        background-position: 100% 0;
        background-size: 110%;
        background-repeat: no-repeat;
        height: 380px;
    }

    #section7 .group-branch > .col-md-4:nth-child(2), #section7 .group-branch > .col-md-4:last-child {
        border-left: 1px solid #dee2e6;
    }
}

@media screen and (min-width: 1024px) {
    #section1::before {
        background-color: #fff;
        background-image: url(../images/bg-section1.png);
        background-position: 100% 0px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #section3 {
        background-position: 60% 35px;
        background-size: 120%;
    }

    #section3 .card-body {
        height: 200px;
    }

    #section3 > .container > .row > .col-md-6:first-child > .card-body, 
    #section3 > .container > .row > .col-md-6:nth-child(3) > .card-body {
        margin-right: 25px;
    }

    #section3 > .container > .row > .col-md-6:last-child > .card-body, 
    #section3 > .container > .row > .col-md-6:nth-child(2) > .card-body {
        margin-left: 25px;
    }

    #section4 {
        background-position: 10% -10px;
        background-size: 100%;
    }

    #section4 iframe {
        width: 80%;
        height: 320px;
    }

    #section5 {
        background-image: url(../images/bg-section5.png);
        background-position: 100% 40px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #section5 h2 {
        margin-top: 200px;
    }

    #section6 {
        background-position: 100% -50px;
        background-size: 110%;
        height: 500px;
    }

    #section7 .group-branch > .col-md-4:first-child {
        border-left: 1px solid #dee2e6;
    }
}

@media screen and (min-width: 1280px) {
    #section1::before {
        min-height: 700px;
    }

    #section1 {
        min-height: 750px;
    }

    #section3 {
        background-position: 80% -25px;
        background-size: 110%;
    }

    #section3 .card-body {
        height: 180px;
    }

    #section4 iframe {
        width: 80%;
        height: 360px;
    }

    #section5 {
        background-position: 80% -30px;
        background-size: 110%;
    }

    #section6 {
        background-position: 70% -50px;
        background-size: 110%;
        height: 600px;
    }
}

@media screen and (min-width: 1360px) {
    #section1::before {
        min-height: 750px;
    }

    #section1 {
        min-height: 800px;
    }

    #section3 {
        background-position: 100% -30px;
        background-size: 106%;
    }

    #section4 iframe {
        width: 80%;
        height: 390px;
    }

    #section5 {
        background-position: 50% -50px;
        background-size: 110%;
    }

    #section6 {
        background-position: 70% -50px;
        background-size: 110%;
        height: 650px;
    }
}

@media screen and (min-width: 1440px) {
    #section1::before {
        min-height: 780px;
    }

    #section1 {
        min-height: 850px;
    }

    #section3 {
        background-position: 100% -30px;
        background-size: 102%;
    }

    #section4 iframe {
        width: 100%;
        height: 430px;
    }

    #section5 {
        background-position: 30% -90px;
        background-size: 110%;
    }

    #section6 {
        background-position: 70% -50px;
        background-size: 100%;
    }
}

@media screen and (min-width: 1680px) {
    #section1::before {
        min-height: 920px;
    }

    #section1 {
        min-height: 1000px;
    }

    #section3 {
        background-position: 100% -80px;
        background-size: 98%;
    }

    #section4 iframe {
        width: 100%;
        height: 530px;
    }

    #section5 {
        background-position: 50% -50px;
        background-size: 90%;
    }

    #section6 {
        background-position: 70% -50px;
        background-size: 100%;
        height: 800px;
    }
}

@media screen and (min-width: 1920px) {
    #section1 {
        min-height: 950px;
    }

    #section3 {
        background-position: 50% -80px;
        background-size: 85%;
    }

    #section4 iframe {
        width: 100%;
        height: 600px;
    }

    #section5 {
        background-position: 52% -60px;
        background-size: 80%;
    }

    #section6 {
        height: 900px;
    }
}

@media screen and (max-width: 1023px) {
    #section3 .card-body img {
        width: 50%;
        margin-left: 25%;
        margin-bottom: 20px;
    }
}